### Boolean masking

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('netflix_titles_2021.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
df['release_year']

0       2020
1       2021
2       2021
3       2021
4       2021
        ...
8802    2007
8803    2018
8804    2009
8805    2006
8806    2015
Name: release_year, Length: 8807, dtype: int64

In [4]:
release_year=pd.Series([2020,2021,2021,2021,2021,2007,2008])
BM=[False,True,False,False,True,True,False]
release_year[BM]

1    2021
4    2021
5    2007
dtype: int64

In [5]:
df2=df.query('release_year==2020&type=="Movie"')
df2.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
78,s79,Movie,Tughlaq Durbar,Delhiprasad Deenadayalan,"Vijay Sethupathi, Parthiban, Raashi Khanna",NaN,"September 11, 2021",2020,TV-14,145 min,"Comedies, Dramas, International Movies",A budding politician has devious plans to rise...
84,s85,Movie,Omo Ghetto: the Saga,"JJC Skillz, Funke Akindele","Funke Akindele, Ayo Makun, Chioma Chukwuka Akp...",Nigeria,"September 10, 2021",2020,TV-MA,147 min,"Action & Adventure, Comedies, Dramas",Twins are reunited as a good-hearted female ga...
103,s104,Movie,Shadow Parties,Yemi Amodu,"Jide Kosoko, Omotola Jalade-Ekeinde, Yemi Blaq...",NaN,"September 6, 2021",2020,TV-MA,117 min,"Dramas, International Movies, Thrillers",A family faces destruction in a long-running c...

In [7]:
df2['type'].count()

517

### number of movies released in the year 2020 in all countries

In [8]:
BM=df.release_year==2020

In [9]:
df[BM].country.value_counts()

United States                             336
India                                      75
United Kingdom                             44
South Korea                                28
Canada                                     26
                                         ...
Germany, Czech Republic                     1
United States, Bulgaria                     1
United Kingdom, France, Germany, Spain      1
Thailand, United States                     1
United States, South Korea, China           1
Name: country, Length: 107, dtype: int64

In [10]:
BM=df.release_year<=1991
df[BM].country.value_counts()

United States                                                  129
India                                                           49
Hong Kong                                                       20
Egypt                                                           11
Poland                                                           7
United Kingdom                                                   7
United Kingdom, United States                                    6
United States, United Kingdom                                    5
Japan                                                            3
Argentina                                                        2
Italy, United States                                             2
Australia, United States                                         2
Lebanon, Canada, France                                          2
Mexico                                                           2
India, Soviet Union                                              2
Hong Kong, China                                                 1
Poland,                                                          1
France                                                           1
Italy, South Africa, West Germany, Australia, United States      1
Poland, West Germany                                             1
United States, Japan                                             1
Italy, France                                                    1
United States, Hong Kong                                         1
Italy                                                            1
United States, Canada                                            1
United States, East Germany, West Germany                        1
Hong Kong, United States                                         1
India, Malaysia                                                  1
United States, Italy, United Kingdom, Liechtenstein              1
Ireland, United Kingdom, United States                           1
Denmark, France, Poland                                          1
West Germany                                                     1
Soviet Union, India                                              1
United Kingdom, West Germany                                     1
Kuwait                                                           1
France, Egypt                                                    1
Egypt, Algeria                                                   1
United States, Mexico                                            1
France, Lebanon                                                  1
France, Belgium, Italy                                           1
Lebanon                                                          1
Australia                                                        1
Name: country, dtype: int64

In [11]:
df.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

#### number of movies released in 2020

In [14]:
BM=df.release_year==2020

In [15]:
df[BM].release_year.value_counts()

2020    953
Name: release_year, dtype: int64

### count of movies in each countries

In [18]:
BM=df.type=="Movie"

In [19]:
df[BM].release_year.value_counts()

2017    767
2018    767
2016    658
2019    633
2020    517
       ...
1966      1
1961      1
1946      1
1963      1
1947      1
Name: release_year, Length: 73, dtype: int64

### count of movies in india each year

In [20]:
BM=df.country=="India"

In [21]:
df[BM].release_year.value_counts()

2017    101
2018     94
2019     87
2020     75
2016     73
2015     62
2013     54
2014     51
2012     38
2010     35
2021     31
2011     30
2009     28
2008     25
2006     20
2005     20
2007     16
2004     15
2003     12
2002     10
2000      7
2001      7
1998      6
1999      6
1982      6
1995      5
1994      5
1990      4
1983      4
1993      3
1997      3
1996      3
1989      2
1973      2
1977      2
1972      2
1971      2
1974      2
1988      2
1976      2
1979      2
1986      2
1980      2
1985      2
1975      2
1981      1
1959      1
1992      1
1969      1
1962      1
1966      1
1978      1
1987      1
1984      1
1964      1
Name: release_year, dtype: int64